page-keyboard {

    .botao-numero {
        width: 31.75%;
        font-size: 140%;
    }

    h1 {
        text-align:center;
        font-size:3em;
    }

    .button-outline-md {
        height: 21%;
        font-size: 200%
    }

    ion-grid {
        height: 100%;
        justify-content: center;
    }

    .keyboard-row {
        height: 55%;
    }

}
