page-keyboard {

    .botao-numero {
        width: 31.75%;
        height: 21%;
        font-size: 200%;
    }

    h1 {
        text-align:center;
        font-size:3em;
    }

    ion-grid {
        height: 100%;
        justify-content: center;
    }

    .keyboard-row {
        height: 55%;
    }

}
