<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perguntas Frequentes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid color=buzios>
    <h3 text-center>Ajuda POS</h3>

    <h4>Importante:</h4>
    <h4>Mantenha seu cadastro atualizado acesse: </h4>
    <a href="https://banco.payplug.org/Configuracoes/Preferencias/">banco.payplug.org/</a>
  </ion-grid>

  


  <ion-list>
    <ion-item *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" color=buzios>
      <h3>
        {{d.title}}
        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </h3>
      <div *ngIf="isGroupShown(i)">{{d.description}}</div>
    </ion-item>
  </ion-list>

  <p>Pelo site https://www.payplug.org/ voce tem cotrole total de sua conta acesse! </p>
</ion-content>
