<ion-header no-border>

  <ion-navbar>
    <ion-title>Movimentações</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="operationType" color="secondary">
      <ion-segment-button value="finalized">
        Finalizadas
      </ion-segment-button>
      <ion-segment-button value="pending">
        Pendentes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>


<ion-content padding>

  <div *ngIf="operations" [ngSwitch]="operationType">
    <ion-list *ngSwitchCase="'finalized'">
      <ion-row *ngFor="let operation of operations">
        <button no-padding detail-none ion-item *ngIf="operation.Status == 'Finalizado'" color="buzios" (click)="openDetail(operation)">
          <h6>Data: {{operation.TransactionDate}}</h6>
          <h6>Operação: {{operation.Operation}}</h6>
          <h6>De: {{operation.IdFrom}}</h6>
          <h6>Para: {{operation.IdTo}}</h6>
          <h6>Valor: {{operation.Value}}</h6>
          <h6>Situação: {{operation.Status}}</h6>
          <h6>Identificador: {{operation.Identifier}}</h6>
        </button>
      </ion-row>
    </ion-list>

    <ion-list *ngSwitchCase="'pending'">
      <ion-row *ngFor="let operation of operations">
        <ion-item *ngIf="operation.Status == 'Pendente'" color="buzios">
          <h5>{{operation.IdFrom}}</h5>
          <h5>{{operation.IdTo}}</h5>
        </ion-item>
      </ion-row>
    </ion-list>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="p-footer" no-margin>*Sujeito a alterações</p>
    <p class="p-footer" color-light no-margin>**Para detalhamento, consulte www.payplug.com</p>
  </ion-toolbar>
</ion-footer>