page-payment {
    
    .button-icons {
        .button {
            font-size: 3em; //Preferred size here
        }
    }

    .botao-numero {
        width: 18%;
    }

    .item-md {
        padding-left: 0px;
    }

    ion-grid {
        height: 100%;
        justify-content: center;
    }

    .authorization-label {
        font-size: 1.6em;
        color: white !important;
    }

    .text-input[disabled] {
        opacity: 1;
        font-size: 1.6em;
    }
    
}