page-payment {
    
    .button-icons {
        .button {
            font-size: 3em; //Preferred size here
        }
    }

    .botao-numero {
        width: 18%;
    }

    .item-md {
        padding-left: 0px;
    }
    
}