<ion-menu id="unauthenticated" [content]="content">
  <ion-header>
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of publicPages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-end></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Olá, {{nome}}!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of privatePages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-end></ion-icon>
        {{p.title}}
      </button>
      
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <button ion-button color="danger" block round (click)="logout()" menuToggle>
        Sair
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-footer>
      


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>