<!--
  Generated template for the ActivationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ative sua conta!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (submit)="doActivation()" [formGroup]="activationForm">
    
    <ion-item color="buzios">
      <ion-label floating>CPF</ion-label>
      <ion-input name="documento" type="tel" formControlName="documento" [class.invalid]="!activationForm.controls.documento.valid && ( activationForm.controls.documento.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item no-lines color="buzios" *ngIf="!activationForm.controls.documento.valid  && (activationForm.controls.documento.dirty || submitAttempt)">
      <p text-center>Informe corretamente seu CPF.</p>
    </ion-item>

    <ion-item color="buzios">
      <ion-label floating>Código de Ativação</ion-label>
      <ion-input name="codigo" type="text" formControlName="codigo" [class.invalid]="!activationForm.controls.codigo.valid && ( activationForm.controls.codigo.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item no-lines color="buzios" *ngIf="!activationForm.controls.codigo.valid  && (activationForm.controls.codigo.dirty || submitAttempt)">
      <p text-center>O código de ativação tem 8 caracteres.</p>
    </ion-item>

    <ion-item color="buzios">
      <ion-label floating>Nova senha</ion-label>
      <ion-input name="senha" type="tel" pattern="[0-9]*" inputmode="numeric" min="1111" max="9999" style="-webkit-text-security: disc;" formControlName="senha" [class.invalid]="!activationForm.controls.senha.valid && ( activationForm.controls.senha.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item no-lines color="buzios" *ngIf="!activationForm.controls.senha.valid  && (activationForm.controls.senha.dirty || submitAttempt)">
      <p text-center>A senha deve conter 6 dígitos numéricos.</p>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button ion-button block type="submit">
            Continuar
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button block (click)="resend('sms')">
            Reenviar SMS
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block (click)="resend('email')">
            Reenviar E-mail
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
